# dependencies
pnpm-lock.yaml
package-lock.json
/node_modules
/.pnp
.pnp.js

#prisma
prisma/migrations
prisma/db.db

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# next.js
/build/
/out/
next-env.d.ts
public/users

# production
/build

# misc
.DS_Store
*.pem
.counter
config.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
